module Text.Numerals.Languages.???Spec (
    spec
  ) where

import Data.Text(Text)

import Test.Hspec(Spec)
import Text.Numerals.Languages.???(???)
import Text.Numerals.LanguageTest(testLanguage)

spec :: Spec
spec = testLanguage "???" ??? cardinals ordinals shortOrdinals

cardinals :: [(Integer, Text)]
cardinals = [
    (???, "???")
  , (???, "???")
  ]

ordinals :: [(Integer, Text)]
ordinals = [
    (???, "???")
  , (???, "???")
  ]

shortOrdinals :: [(Integer, Text)]
shortOrdinals = [
    (???, "???")
  , (???, "???")
  ]
